<div class="list-group">

    <p class="list-normal">
       ({{peca?.getCod}}) {{peca?.getDescricao}}:
    </p>
    <p >
        <ion-label>  Quantidade disponível:</ion-label> <ion-input>{{peca?.getQuantidadeDisponivel}}</ion-input> 
    </p>
    <p class="list-normal">
        <ion-label> Preço: </ion-label> <ion-input> {{peca?.getPreco}}</ion-input>
    </p>
    <p class="list-normal">
        <ion-label>Disponivel em: </ion-label> <ion-input>{{peca?.getLoja}}</ion-input>
    </p>
    <br>

    

</div>
